build
cmake-build-debug

.DS_Store

.vscode
.idea
.clang-format
.cache

grammar/*.cpp
grammar/*.h
grammar/*.interp
grammar/*.tokens
.antlr

test/ir_files
test/asm_files
test/elf_files

interpreter/interpreter

out
scripts

compile_commands.json