build
cmake-build-debug

.DS_Store

.vscode
.idea
.clang-format
.cache
.claude

generated/grammar/*.cpp
generated/grammar/*.h
grammar/*.interp
grammar/*.tokens
.antlr

test/ir_files
test/asm_files
test/elf_files

compile_commands.json
